.message-nav {
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 0px;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    height: 30px;
    width: 79%;
}


.add-btn {
    margin-right: 0px;
    margin-left: auto;
    background-color: white;
    height: 30px;
    width: 30px;
}


@media(min-width: 1350px){
    .room-name {
        margin-top: 0px;
        margin-bottom: auto;
        margin-left: 0px;
        margin-right: auto;
        font-size: 20px;
        width: 90%;
        height: 100%;
        text-align: center;
    }

    .roomText {
        margin-top: 0px;
        margin-bottom: auto;
    }

    .add-div {
        margin-top: 0px;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: 0px;
        font-size: 20px;
        width: 10%;
        height: 100%;
    }
    
    .add-title {
        margin-top: 0px;
        margin-bottom: auto;
        font-size: 20px;
    }
    
    .add-user {
        margin-top: 0px;
        margin-bottom: auto;
        margin-right: 0px;
        margin-left: auto;
        display: block;
        width: 99%;
    }
}

@media(max-width: 1350px){
    .room-name {
        margin-top: 0px;
        margin-bottom: auto;
        margin-left: 0px;
        margin-right: auto;
        font-size: 20px;
    }
    
    .add-title {
        margin-top: 0px;
        margin-bottom: auto;
        font-size: 20px;
    }
    
    .add-user {
        display: block;
        margin: auto;
        width: 99%;
    }
}