 /*chat component */
  .messages-wrapper {
    margin-left: 20%;
    margin-right: 0px;
    margin-bottom: 60px;
    padding: 30px;
  }
  .chat-bubble {
    border-radius: 20px 20px 20px 0;
    padding: 15px;
    background-color: #9571c5;
    color: #1c2c4c;
    width: max-content;
    max-width: calc(100% - 50px);
    box-shadow: -2px 2px 1px 1px #4c768d;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .chat-bubble.right {
    margin-left: auto;
    margin-right: 0px;
    border-radius: 20px 20px 0 20px;
    background-color: #fff;
    box-shadow: -2px 2px 1px 1px #88dded;
  }
  .chat-bubble__left {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #1c2c4c;
  }
  .user-message {
    word-break: break-all;
  }
  .message-time {
    display: block;
    text-align: right;
  }

  /*navigation bar */
  .nav-bar {
    background-color: #CAA4D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242443;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 30px;
  }

  .sign-out {
    border-radius: 5px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: #CEE4FE;
    color: #000000;
  }

  /*send-message*/
  .send-message {
    position: fixed;
    bottom: 0px;
    margin-left: 20%;
    width: 99%;
    padding: 10px 10px;
    background-color: #9571c5;
    display: flex;
  }
  .send-message > input {
    height: 40px;
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    flex-grow: 1;
    background-color: white;
    color: #1c2c4c;
    font-size: 1rem;
  }
  .send-message > input:placeholder {
    color: #ddd;
  }
  .send-message > :is(input, button):focus {
    outline: none;
    border-bottom: 1px solid #7cc5d9;
  }
  .send-message > button {
    width: 70px;
    height: 60px;
    padding: 0px 10px;
    border-radius: 0 5px 5px 0;
    color: #242443;
    border: 1px solid #c1b1e6;
    background-color: #c1b1e6;
    font-weight: 600;
  }
